* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Arial;
  font-size: $font-size;
  line-height: 1.5rem;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

.bg {
  background-color: $background-color;
}
