* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Arial;
  font-size: 12px;
  line-height: 1.5rem;
  color: #eee;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  background-color: $body-background-color;
}

