package-lock.json
.git
.github
**/.cache
node_modules
**/node_modules
**/dist
/build
/data
/dist
/examples
/node

# The public folder is build in docker file
packages/server/public

# Exclude api-server module
# Build it separately in packages/api-server and run it via docker-compose
packages/api-server

# styleguide package is required only for dev
packages/styleguide
