/*
Autocomplete

Markup:
<div class="autocomplete">
  <input class="input"/>
  <div class="-list">
    <div>Augsburg</div>
    <div>Berlin</div>
    <div class="-active">Ch<em>e</em>ni<em>tz</em></div>
    <div>Darm<em>stadt</em></div>
    <div>Eber<em>stadt</em></div>
    <div>Frankfurt</div>
  </div>
<div>

Styleguide 2.9
*/

$autocomplete-bg-color: $background-color-01dp;
$autocomplete-border-color: $input-border-color;
$autocomplete-border-focus-color: $input-border-focus-color;

.autocomplete {
  position: relative;
  display: inline-block;

  > .-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 250px;
    overflow-y: scroll;    
    background-color: $autocomplete-bg-color;
    border: 1px solid $autocomplete-border-color;

    > div {
      padding: $unit 2*$unit;

      em {
        font-style: normal;
        text-decoration: underline;
      }

      &:hover {
        color: $text-high-color;
        background-color: mix($white, $autocomplete-bg-color, 7%);
        cursor: pointer;

        em {
          color: $text-high-color;
        }
      }
      &.-active,
      &:active {
        color: $text-high-color;
        background-color: mix($white, $autocomplete-bg-color, 14%);
        cursor: pointer;

        em {
          color: $text-high-color;
        }
      }
    }
  }
}