/*
Input

Markup:
<input class="input">

Styleguide 2.5
*/
/*
Input Tag List

Markup:
<div class="input -tag-list">
  <span>Tag 1</span>
  <span>Tag 2</span>
  <input placeholder="Add tags"/>
</div>

Styleguide 2.5.1
*/
$input-bg-color: $background-color-06dp;
$input-bg-hover-color: $background-color-12dp;
$input-bg-focus-color: $background-color-12dp;
$input-border-color: $text-low-color;
$input-border-focus-color: $text-color;

.input {
  padding: 0.5*$unit $unit;
  background-color: $input-bg-color;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;

  &:focus {
    color: $text-high-color;
    background-color: $input-bg-focus-color;
    border-color: $input-border-focus-color;
  }

  &.-tag-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: $unit;

    span {
      flex-shrink: 0;
    }

    input {
      flex: 1 0 auto;
      border-color: transparent;
      background-color: transparent;
    }
  }
}