/*
Link

Markup:
<div class="text">
  <p>This is text with a <a class="link">link text</a></p>
</div>

Styleguide 2.3
*/
/*
Link primary

Markup:
<div class="text">
  <p>This is a <a class="link -primary">primary link</a></p>
</div>

Styleguide 2.3.1
*/
/*
Link with icon

Markup:
<div class="text">
  <p>This is a <a class="link -primary"><i class="fas fa-camera"></i> photo</a></p>
</div>

Styleguide 2.3.2
*/
.link {
  color: $text-high-color;
  cursor: pointer;

  &:hover {
    color: lighten($text-high-color, $hover-amount);
  }
  &:active {
    color: lighten($text-high-color, $focus-amount);
  }

  &.-primary {
    color: $primary-color;

    &:hover {
      color: lighten($primary-color, $hover-amount);
    }
    &:active {
      color: lighten($primary-color, $focus-amount);
    }
  }

}