/*
Notification

Markup:
<div class="notification">
  <button class="button -closeable"><i class="fas fa-times"></i></button>
  This is the standard notification
</div>
<div class="notification -info">
  <button class="button -closeable"><i class="fas fa-times"></i></button>
  This is the info notification
</div>

Styleguide 2.10
*/

.notification {
  position: relative;
  padding: $unit 2*$unit;
  padding-right: 40px;
  background-color: $background-color-06dp;
  border-radius: $border-radius;
  border: 1px solid $text-color;

  > .-closeable {
    position: absolute;
    top: $unit;
    right: $unit;
  }

  &.-info {
    background-color: mix($color-info-500, $black, 40%);
    border-color: mix($color-info-500, $black, 70%);

    > .-closeable:hover {
      background-color: mix($color-info-500, $black, 56%);
    }
    > .-closeable:active {
      background-color: mix($color-info-500, $black, 70%);
    }
  }
}