/*
Table striped

Markup:
<table class="-striped">
  <thead>
    <tr>
      <th>Name</th><th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>File</td><td>IMG_1234.JPG</td>
    </tr>
    <tr>
      <td>File</td><td>IMG_1234.JPG</td>
    </tr>
    <tr>
      <td>File</td><td>IMG_1234.JPG</td>
    </tr>
    <tr>
      <td>File</td><td>IMG_1234.JPG</td>
    </tr>
  </tbody>
</table>

Styleguide 2.7
*/
table.-striped {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
  }
  
  th,
  tr:nth-child(2n) {
    background-color: #333;
  }
}
