/*
Tag

Markup:
<span class="tag">
  <span>Tag</span>
</span>
<span class="tag">
  <span>Tag with icon</span>
  <a><i class="fas fa-times"></i></a>
</span>
<span class="tag">
  <span><i class="fas fa-plus"></i> Add Tag</span>
  <a><i class="fas fa-times"></i></a>
</span>
<span class="tag -danger">
  <span><i class="fas fa-minus"></i> Danger Tag</span>
  <a><i class="fas fa-times"></i></a>
</span>
<span class="tag -large">
  <span>Large Tag</span>
</span>
<span class="tag -large -button">
  <span><i class="fas fa-add"></i> Large Button Tag</span>
  <a><i class="fas fa-times"></i></a>
</span>
<span class="tag -danger -large -button">
  <span><i class="fas fa-ban"></i> Large Danger Button Tag</span>
  <a><i class="fas fa-times"></i></a>
</span>
<span class="tag -button">
  <span>Add Tag</span>
</span>

Styleguide 2.8
*/
$tag-color-danger: mix($white, $black, 28%);;
$tag-bg-danger: #FF4F60;
$tag-border-danger: #B7274F;

@mixin tag-color($color, $bg, $border, $bg-icon: $bg) {
  border-color: $border;
  > span,
  > a {
    color: $color;
    background-color: $bg;

    .fas {
      color: $color;
    }
  }

  @if ($bg != $bg-icon) {
    > a {
      background-color: $bg-icon;
    }
  }
}

.tag {
  display: inline-flex;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;

  > span,
  > a {
    padding-left: 4px;
    padding-right: 4px;
    line-height: 1rem;
  }

  &.-large {
    > span,
    > a {
      padding: 4px 8px;
    }
  }

  @include tag-color($text-color, $input-bg-color, $input-border-color);
  &:hover {
    @include tag-color($text-color, $input-bg-color, $input-border-color, $input-border-color);
    > a .fas {
      color: $text-high-color;
    }
    > a:active {
      background-color: mix($black, $input-border-color, 14%);
      .fas {
        color: $text-color;
      }
    }
  }

  &.-button {
    cursor: pointer;

    &:hover {
      @include tag-color($text-high-color, mix($white, $input-bg-color, 7%), mix($white, $input-border-color, 7%), mix($white, $input-border-color, 7%));
    }
    &:active {
      @include tag-color($text-high-color, mix($white, $input-bg-color, 14%), mix($white, $input-border-color, 14%), mix($white, $input-border-color, 7%));
      > a:active {
        background-color: mix($black, $input-border-color, 14%);
        .fas {
          color: $text-color;
        }
      }
    }
  }

  &.-danger {
    @include tag-color($tag-color-danger, $tag-bg-danger, $tag-border-danger);

    &:hover {
      @include tag-color(mix($black, $tag-color-danger, 7%), mix($white, $tag-bg-danger, 7%), $tag-border-danger, $tag-border-danger);
    }

    > a:active {
      background-color: mix($black, $tag-border-danger, 14%);

      .fas {
        color: mix($black, $tag-color-danger, 14%)
      }
    }
    &.-button:active {
      @include tag-color(mix($black, $tag-color-danger, 14%), mix($white, $tag-bg-danger, 14%), $tag-border-danger, $tag-border-danger);

      > a:active {
        background-color: mix($black, $tag-border-danger, 14%);

        .fas {
          color: mix($black, $tag-color-danger, 14%)
        }
      }
    }
  }

}
