/*
Text

Markup:
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
  voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
<p class="-high-text">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
  sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
<p class="-low-text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
  molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
  eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
  zzril delenit augue duis dolore te feugait nulla facilisi.</p>

Styleguide 2.1
*/
/*
Headline

Markup:
<div class="text">
  <h1>Headline 1</h1>
  <h2>Headline 2</h2>
  <h3>Headline 3</h3>
  <h4>Headline 4</h4>
</div>

Styleguide 2.1.1
*/
.galleryRoot {
  h1,
  h2,
  h3,
  h4 {
    color: $text-high-color;
    font-weight: bold;
    line-height: 2em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.15em;
  }
}

.-high-text {
  color: $text-high-color;
}

.-low-text {
  color: $text-low-color;
}