.map-cluster {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 100%;
  min-width: 32px;
  font-size: $font-size;
  color: $text-color;
  background-color: $background-color-02dp;
  text-align: center;
  transform: translate(-50%, -50%);
}

.leaflet-popup {
  .leaflet-popup-content-wrapper {
    background-color: $background-color-04dp;
  }
  .leaflet-popup-tip {
    background-color: $background-color-04dp;
  }
}

.leaflet-popup-content {
  p {
    margin: 8px 0 0 0;
    line-height: 1.2;
    word-break: break-all;
  }

  a {
    color: $text-high-color;
    cursor: pointer;

    &:hover {
      color: lighten($text-high-color, $hover-amount);
    }
    &:active {
      color: lighten($text-high-color, $focus-amount);
    }
  }

}

.leaflet-touch .leaflet-bar {
  border-color: $background-color-02dp;
}

.leaflet-bar a {
  color: $text-color;
  background-color: $background-color-06dp;
  border-bottom: none;

  &:hover {
    background-color: $background-color-02dp;
  }

  &:active {
    background-color: $background-color-12dp;
  }

  &.leaflet-disabled {
    background-color: $background-color;
  }
}

.cluster-grid {
  display: flex;
  width: (48 + 4) * 4px;
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom: -4px;
  flex-wrap: wrap;

  img {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    object-fit: cover;
  }
}