.fluent__row {
  display: flex;
  margin-bottom: 8px;
}

.fluent__cell {
  margin-left: 8px;
  position: relative;

  img {
    object-fit: cover;
    background-color: #333;
  }

  &.-selected {
    outline: 4px solid mix($white, $primary-color, 40%);
    outline-offset: -1px;
    filter: brightness(110%) saturate(110%);
  }

  ._detail {
    position: absolute;
    right: 4px;
    bottom: 4px;
    border-radius: $border-radius;
    padding-left: 8px;
    padding-right: 8px;
    color: $text-high-color;
    background-color: rgba(0, 0, 0, 0.25);

    .fas {
      color: $text-high-color;
    }
  }

  &:hover {
    ._detail {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

@include only-sm {
  .fluent__cell ._detail {
    padding-left: 4px;
    padding-right: 4px;
    color: $text-high-color;
    background-color: rgba(0, 0, 0, 0.5);

    .fas {
      color: $text-high-color;
    }
  }
}
