.kss-nav__name {
  color: #33a;
}

.kss-description p,
.kss-markup summary {
  color: #333;
}

.kss-description code {
  background-color: rgb(223, 223, 223);
  color: rgb(206, 78, 211)
}

.kss-modifier__wrapper {
  background-color: #222;
}