/*
Button Group

Markup:
<div class="button-group -right">
  <button class="button -primary">Submit</button>
  <a class="link button -default -link">Cancel</a>
</div>

Styleguide 3.1
*/
/*
Input with button

Markup:
<div class="button-group -input">
  <input class="input">
  <button class="button -default">OK</button>
</div>

Styleguide 3.1.1
*/
.button-group {
  display: flex;
  align-items: center;

  &.-right {
    flex-direction: row-reverse;

    > * {
      margin-right: 0;
      margin-left: $unit;
    }
  }

  &.-input {
    > .input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:focus ~ .button {
        border-color: $text-color;
      }
    }
  
    > .button {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:hover {
      > .input {
        border-color: $text-color;
      }

      > .button {
        border-color: $text-color;
      }
    }

  }

}