/*
Dialog

Markup:
<a class="link" data-modal-open="#example-dialog">Open dialog</a>
<div class="modal" id="example-dialog">
  <div class="modal__backdrop"></div>
  <div class="modal__overlay">
    <div class="dialog text">
      <div class="dialog__header -closeable">
        <h3>Headline</h3>
        <button class="button -closeable"><i class="fas fa-times"></i></button>
      </div>
      <div class="dialog__scroll-container">
        <div class="dialog__content">
          <p>This is the content</p>
        </div>
      </div>
      <div class="dialog__footer -grey">
        <div class="button-group -right">
          <button class="button -primary">Submit</button>
          <a class="link button -default -link">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>

Styleguide 3.3
*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  &.-visible {
    display: flex;
    justify-items: center;
    align-items: center;
  }
}

.modal__backdrop,
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__backdrop {
  background-color: rgba(0, 0, 0, .3);
}

.modal__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  display: flex;
  flex-direction: column;
  width: 640px;
  max-width: 100%;
  max-height: 100%;
  background-color: $background-color;
  border: 1px solid darken($background-color, 10%);
  border-radius: $border-radius;

  > * {
    padding: $unit 2*$unit;
  }
}

.dialog__header,
.dialog__footer {
  flex-shrink: 0;
}

.dialog__header {
  &.-closeable {
    display: flex;
    justify-content: space-between;
  }
}

.dialog__scroll-container {
  overflow: auto;
}

.dialog__footer {
  &.-grey {
    background-color: $background-color-02dp;
  }
}
