/*
Form

Markup:
<form>
  <div class="field">
    <label for="example-form-input">Input</label>
    <input id="example-form-input" class="input" />
  </div>
  <div class="button-group -right">
    <button class="button -primary">Submit</button>
    <a class="link button -default -link">Cancel</a>
  </div>
</form>

Styleguide 3.2
*/
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 2*$unit;

  label {
    color: $text-color;
  }
}