/*
Form

Markup:
<form>
  <div class="field">
    <label for="example-form-input">Input</label>
    <input id="example-form-input" class="input" />
  </div>
  <div class="button-group -right">
    <button class="button -primary">Submit</button>
    <a class="link button -default -link">Cancel</a>
  </div>
</form>

Styleguide 3.2
*/
/*
Form Tag Input

Markup:
<form>
  <div class="field">
    <label for="example-form-input">Input</label>
    <div class="input -tag-list">
      <span class="tag -large -button">
        <span><i class="fas fa-plus"></i> Add Tag</span>
        <a><i class="fas fa-times"></i></a>
      </span>
      <span class="tag -danger -large -button">
        <span><i class="fas fa-minus"></i> Remove Tag</span>
        <a><i class="fas fa-times"></i></a>
      </span>
      <input id="example-form-input" placeholder="Add tag"/>
    </div>
    <p>
      Recent Tags
      <span class="tag -button">
        <span>Tag 1</span>
      </span>
      <span class="tag -button">
        <span>Tag 2</span>
      </span>
    </p>
  </div>
</form>

Styleguide 3.2.1
*/
/*
Form Tag Input with Autocompolete

Markup:
<form autocomplete="off">
  <div class="field">
    <label for="example-form-input">Input</label>
    <div class="autocomplete">
      <div class="input -tag-list">
        <span class="tag -large -button">
          <span><i class="fas fa-plus"></i> Add Tag</span>
          <a><i class="fas fa-times"></i></a>
        </span>
        <span class="tag -danger -large -button">
          <span><i class="fas fa-minus"></i> Remove Tag</span>
          <a><i class="fas fa-times"></i></a>
        </span>
        <input id="example-form-input" placeholder="Add tag"/>
      </div>
      <div class="-list">
        <div>Augsburg</div>
        <div>Berlin</div>
        <div class="-active">Chenitz</div>
        <div>Darmstadt</div>
      </div>      
    </div>
    <p>
      Recent Tags
      <span class="tag -button">
        <span>Tag 1</span>
      </span>
      <span class="tag -button">
        <span>Tag 2</span>
      </span>
    </p>
  </div>
</form>

Styleguide 3.2.2
*/
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 2*$unit;
  gap: 4px;

  label {
    color: $text-color;
  }
}