// global reset
.galleryRoot,
.galleryRoot * {
  @include reset-box;
  @include reset-font;
  @include reset-color;
}

.galleryRoot {
  background-color: $background-color;

  a {
    @include reset-link;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
}
