/*
  Utils

  Styleguide 1.1
*/
/*
  Hiding on different screens

  Markup:
  <ul>
    <li>All screens</li>
    <li class="hide-sm">Hidden on small screens</li>
    <li class="hide-md">Hidden on larger screens</li>
  </ul>

  Styleguide 1.1.1
*/
@include only-sm {
  .hide-sm {
    display: none;
  }
}

@include only-md {
  .hide-md {
    display: none;
  }
}