/*
  Utils

  Styleguide 1.1
*/
/*
  Hiding on different screens

  Markup:
  <ul>
    <li>All screens</li>
    <li class="hide-sm">Hidden on small screens</li>
    <li class="hide-md">Hidden on larger screens</li>
  </ul>

  Styleguide 1.1.1
*/
/*
  Position

  Elements can have a fixed or absolute position, use following util classes

  * `.position-absolute` Allways absolute position
  * `.position-absolute-sm` Absolute position on small screens
  * `.position-absolute-md` Absolute position on mid screens
  * `.position-fixed` Allways fixed position
  * `.position-fixed-sm` Fixed position on small screens
  * `.position-fixed-md` Fixed position on mid screens

  Styleguide 1.1.2
*/
.position-fixed {
  position: fixed;
}

@include only-sm {
  .position-fixed-sm {
    position: fixed;
  }

  .hide-sm {
    display: none;
  }
}

@include only-md {
  .position-fixed-md {
    position: fixed;
  }

  .hide-md {
    display: none;
  }
}

$spaces: 4, 8, 16, 32, 40;
$mp: ('m': 'margin', 'p': 'padding');
@each $short, $long in $mp {
  @each $space in $spaces {
    .#{$short}-#{$space} {
      #{$long}: $space * 1px;
    }
    .#{$short}v-#{$space} {
      #{$long}-top: $space * 1px;
      #{$long}-bottom: $space * 1px;
    }
    .#{$short}h-#{$space} {
      #{$long}-left: $space * 1px;
      #{$long}-right: $space * 1px;
    }
    .#{$short}t-#{$space} {
      #{$long}-top: $space * 1px;
    }
    .#{$short}r-#{$space} {
      #{$long}-right: $space * 1px;
    }
    .#{$short}b-#{$space} {
      #{$long}-bottom: $space * 1px;
    }
    .#{$short}l-#{$space} {
      #{$long}-left: $space * 1px;
    }
  }
}
