/*
Generic

Styleguide 1
*/
$background-color: #222;

$font-size: 12px;
$text-color: #aaa;
$link-color: lighten($text-color, 30%);

$black: #000;
$white: #fff;

$unit: 8px;
$border-radius: 3px;

$primary-color: rgb(38, 153, 38);

$sm-screen-width-max: 920px;
$md-screen-width-min: $sm-screen-width-max + 1px;