.mediaView {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;

  &.-image img,
  &.-video img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  &.-video {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

.mediaView__media {
  position: relative;
  height: 100%;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  object-fit: contain;
}

.zoomable {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}