/*
  Media navigation

  Markup:
  <div style="position: relative; height:200px;">
    <div class="mediaNav -left">
      <a class="mediaNav__button"><i class="fas fa-chevron-left fa-2x"></i></a>
    </div>
    <div class="mediaNav -center">
      <a class="mediaNav__button"><i class="fas fa-chevron-up fa-2x"></i></a>
    </div>
    <div class="mediaNav -right">
      <a class="mediaNav__button"><i class="fas fa-chevron-right fa-2x"></i></a>
    </div>
    <div class="mediaNav -bottom">
      <a class="mediaNav__button"><i class="fas fa-th fa-2x"></i></a>
      <a class="mediaNav__button"><i class="fas fa-seedling fa-2x"></i></a>
      <a class="mediaNav__button"><i class="fas fa-calendar-day fa-2x"></i></a>
    </div>
  </div>

  Styleguide 5
*/
$nav-icon-size: 30px;
$nav-icon-size-md: 40px;
$nav-font-size-md: 200%;

.mediaNav {
  position: absolute;
  z-index: 5;

  &.-left,
  &.-right {
    top: 50%;
    transform: translateY(-50%);
  }

  &.-left {
    left: 0;
  }

  &.-right {
    right: 0;
  }

  &.-center {
    left: 50%;
    transform: translateX(-50%);
  }

  &.-bottom {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
  }

}

.mediaNav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $nav-icon-size;
  height: $nav-icon-size;
  margin: $unit;
  border-radius: $border-radius;
  background-color: rgba(255, 255, 255, .4);

  > .fas {
    color: rgba(0, 0, 0, .6);
  }

  &:hover {
    background-color: rgba(255, 255, 255, .6);
    cursor: pointer;
    > .fas {
      color: rgba(0, 0, 0, .6);
    }
  }

  &:active {
    background-color: rgba(255, 255, 255, .8);
    > .fas {
      color: rgba(0, 0, 0, .8);
    }
  }
}

@media (min-width: $md-screen-width-min) {
  .mediaNav__button {
    width: $nav-icon-size-md;
    height: $nav-icon-size-md;

    .fas {
      font-size: $nav-font-size-md;
    }
  }
}
