/*
  Single View

  The `.single__media` should have also the `position-fixed-md` class

  Markup:
  <div style="position: relative; height:200px; width:100%;">
    <div class="single">
      <div class="single__media">
        <h2>Media</h2>
      </div>
      <div class="single__detail">
        <h2>Details</h2>
      </div>
    </div>
  </div>

  Styleguide 6
*/
/*
  Single View with detail

  Markup:
  <div style="position: relative; height:200px; width:100%;">
    <div class="single -withDetail">
      <div class="single__media">
        <h2>Media</h2>
      </div>
      <div class="single__detail">
        <h2>Details</h2>
      </div>
    </div>
  </div>

  Styleguide 6.1
*/
$single-detail-width: 400px;
$single-media-height-sm: 300px;

.single {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:not(.-withDetail) {
    @include height-screen;
  }
  &.-withDetail {
    display: flex;
    flex-direction: column;
    .single__media {
      height: $single-media-height-sm;
    }
    .single__detail {
      display: block;
    }
  }
}

.single__media {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.single__detail {
  display: none;
}

@include only-sm {
  .single {
    &.-withDetail {
      .single__media {
        position: relative;
      }
    }
  }

  .single__media {
    position: absolute;
  }
}
@include only-md {
  .single {
    display: block;

    &.-withDetail {
      .single__media {
        @include height-screen;
        margin-right: $single-detail-width;
      }
      .single__detail {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: $single-detail-width;
        z-index: 1;
        margin-top: 0;
      }
    }
  }
}

